{% extends 'superadmin/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/superadmin/manager_detail.css' %}" >
{% endblock %}

{% block content %}
    
    
    <div class="p-4 text-center">
        
        <img src="{{manager.profile_picture.url}}" alt={{manager.username}} width="170px" >
        <h3 class="mt-4">Full Name :{{manager.full_name}}</h3>
    </div>
    <div class="manager-detail">
        
        <h4>Email :{{manager.email}}</h4>
        <h4>Contact :{{manager.contact}}</h4>
        
    </div>

{% endblock %}