<!doctype html>
<html lang="en">
  <head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>coordinator home</title>
    <link href="{% static 'css/superadmin/index.css' %}" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
   
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Qurios Innovation - C</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" aria-label="Search">
        <div class="navbar-nav">
          <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="{% url 'coordinator:coordinator-logout' %}">Sign out</a>
          </div>
        </div>
      </header>
      
      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'coordinator:inspector-master' %}">
                    <span data-feather="home" class="align-text-bottom"></span>
                    Inspector Master
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'coordinator:client-master' %}">
                    <span data-feather="file" class="align-text-bottom"></span>
                    Client Master
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'coordinator:job-master' %}">
                    <span data-feather="shopping-cart" class="align-text-bottom"></span>
                    Job Master
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'coordinator:profile-detail' %}">
                    <span data-feather="shopping-cart" class="align-text-bottom"></span>
                    Profile
                  </a>
                </li>
              </ul>
            </div>
          </nav>
      
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block content %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2 mb-5">Inspectors Master</h1>
                <a href="{% url 'coordinator:create-inspector' %}" class="btn btn-warning">Add Inspector</a>
            </div>
            <div class="container-fluid">
                <table class="table table-striped">
                    <thead>
            
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">firstname</th>
                          <th scope="col">email</th>
                          <th scope="col">username</th>
                          <th scope="col">View</th>
                          <th scope="col">Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for inspector in inspectors %}
                        <tr>
                          <th scope="row">{{inspector.id}}</th>
                          <td>{{inspector.full_name}}</td>
                          <td>{{inspector.email}}</td>
                          <td>{{inspector.username}}</td>
                          <td><a href="{% url 'coordinator:view-inspector' inspector.id %}" class='btn btn-primary btn-sm'>View</a></td>
                          <td><a href="{% url 'coordinator:edit-inspector' inspector.id %}" class='btn btn-info btn-sm'>Edit</a></td>
                        </tr>
                       
                      </tbody>
                      {% endfor %}
                </table>
            </div>
    
            {% endblock content %}
          </main>
        </div>
      </div>
    
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>